<!DOCTYPE html>
<html>
  <head>
    <!-- **DO THIS**: -->
    <!--   Replace SDK_VERSION_NUMBER with the current SDK version number -->
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.1.12.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script> 
    <script src="../static/s3_streaming.js"></script>
    <script>listfiles();</script>
    <!--<link rel="stylesheet" type="text/javascript" href="/static/PhotoViewer.js" />
    <script>listfiles();</script>-->
  </head>
  <body>
    <h1>smart social distancing - camera1</h1>
    <div id="viewer" />

  </body>
</html>

